*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
}
body{
    
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(https://images.pexels.com/photos/927414/pexels-photo-927414.jpeg?auto=compress&cs=tinysrgb&w=1600);
    background-position: cover;
  background-repeat: no-repeat;
  background-size: 100vw;            
}
.card{
    width: 90%;
    max-width: 470px;
background: linear-gradient(135deg, #E96479, #B3005E);
color: #fff;
margin: 100px auto 0;
border-radius: 25px;
padding: 40px 35px;
text-align: center;
background: transparent;
border-radius: 0;

border: 0;


}
.search{
 width: 100%;
display: flex;
align-items: center;
justify-content: space-between;



}

.search input{
    border: 0;
outline: 0;
background: #ebfffc;
color: #555;
padding: 10px 25px;
height: 60px;
border-radius: 30px;
flex: 1;
margin-right: 16px;
font-size: 18px;


}
.search button{
    border: 0;
    outline: 0;
    background: #ebfffc;
    
    
    padding: 10px 25px;
    height: 60px;
    width: 60px;
    border-radius:50%;
    cursor: pointer;

}
.search button:hover{
    color: blueviolet;
    background-color: #555;
}
.search button img{
    width: 10px;
    
}
.search button img:hover{
    color: white;

}
.weather-icon{
    width: 170px;
    margin-top: 30PX;
}
.weather h1{
    font-size: 80px;
    font-weight: 500;
}
.weather h2{

    font-size: 45px;
    font-weight: 400;
    
}
.details{
 display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.col{
    display: flex;
    align-items: center;
   text-align: center;
}
.col img{
    width:40px;
   
}

span{
    color:skyblue ;
}

.humidity, .wind{
    font-size: 28px;
    margin-top: 6px;
    color: red;
}


#txt{
    color:blue;
    align-items: center;
    text-align: center;

    
}
.degree{
    color: #B3005E;
}
